* {
    box-sizing: border-box;
}

body {
    margin: 0 150px 100px;
}

/* Text */

h1, h2, h3 {}

h2 {
    margin: .8em 0 .3em;
}

/* End text */

.entries {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin-top: 2em;
    line-height: 1.5em;
}

.title a {
    background: #3A5E8C;
    padding: 15px 10px;
    color: white;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    display: block;
}

.title a:visited {

}

.title a:hover {
    text-decoration: underline;
}

.flash { 
    background: #CEE5F5; 
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

/* Forms */
form {
    width: 25%;
    padding: .3em 1em 1em 0;
}

input, textarea {
    width: 100%;
    margin-bottom: 1em;
}

input[type="submit"] {
    width: auto;
}

label {
    font-weight: bold;
    display: block;
}

/* End forms */