<ul class="entries">
    {% for bookmark in bookmarks %}
        <li>
            <a href="{{ bookmark.link }}" class="title">{{ bookmark.title }}</a>
            <span class="options">
                <a href="{{ url_for('edit_bookmark', id=bookmark.id) }}" class="edit-bookmark">Edit</a>
                <a href="{{ url_for('delete_bookmark', id=bookmark.id) }}" class="delete-bookmark">Delete</a>
            </span>
            {% if bookmark.note %}<p>{{ bookmark.note }}</p>{% endif %}
        </li>
    {% else %}
        <li>Nothing here yet :(</li>
    {% endfor %}
</ul>